<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntd.audioselector">

    <application>
        <activity android:name="com.ntd.audioselector.screen.audioselector.AudioSelectorActivity"></activity>
    </application>

</manifest>